extends layout

block content
    script(type='text/javascript', src='/javascripts/maps.js')
    
    
    #slideContainer
        p 
            span#rangeValue
            |  Miles
        input#rangeSlider.slider(type='range' min='1' max='30' value='15' oninput='updateRange()')
    div
        select#locationSelect(style='width: 10%; visibility: hidden')
        #map
        
        #side_bar
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key="+ process.env.MAPS_API + "&callback=initMap")
        