extends layout

block content

  div.login
    h1 Welcome to myRestaurant
    p Create your own restaurant
    
    .col-md-6.offset-md-3
    .col-md-6.offset-md-3
    
      form.omb_signUpForm(action='', autocomplete='off', method='POST')
        input.form-control(type='text', name='name', placeholder='restaurant name')
        .input-group
            input.form-control(type='text', name='address', placeholder='address')
            br
            input.form-control(type='text', name='city', placeholder='city')
            br
            input.form-control(type='text', name='zip', placeholder='zip')
            br
            input.form-control(type='text', name='state', placeholder='state')

          
        span.help-block
        .input-group
            input.form-control(type='text', name='description', placeholder='description')
            br
              
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Confirm
        br
  