extends layout

block content
    #restaurant
        #restaurantInfo
            #restaurantImage
        
            #restaurantDescription
                
        #restaurantMenu
        
        
    #reviewSection
        #reviews
        
        #createReview